.page{
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  
  .page {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    align-items: center;
    justify-content: center;
    

  }
  .sedans{
    background-color: #e28528;
      width:250px;
      height: 560px;
      border-radius: 10px 10px 0px 0px;
  }
  .suvs{
    background-color: #026972;
    width: 250px;
    height: 560px;
  }

.luxury{
  background-color: #02484e;
  width: 250px;
  height: 560px;
  border-radius: 0px 0px 10px 10px;
  }

  p{
    font-family: 'Lexend Deca';
    font-size: 20px;
    margin-left: 40px; 
    margin-right: 40px;
    color: white;
    margin-bottom: 60px;
  }

  }

  
  @media only screen and (min-width: 451px) {
    .page {
      margin-top: 50px;
      padding: 20px 100px;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      height: 530px;
      align-items: center;
    }
    .sedans{
        background-color: #e28528;
        width: 300px;
        height: 500px;
        border-radius: 10px 0px 0px 10px;
    }
    .suvs{
    
      background-color: #026972;
      width: 300px;
      height: 500px;
    }
  
  .luxury{
    
    background-color: #02484e;
    width: 300px;
    height: 500px;
    border-radius: 0px 10px 10px 0px;
    }
    p{
      font-family: 'Lexend Deca';
      font-size: 15px;
      margin-left: 40px; 
      margin-right: 60px;
      color: white;
      margin-bottom: 80px;
    }
    }
/*
*/
h1{
  margin-left: 40px;
  font-family: 'Lexend Deca';
  line-height: 90px;
  font-size: 38px;
  color: white;
}



* {
  padding: 0;
  box-sizing: border-box;
}

/*.sedans {
  
  background-color: #e28528;
  width: 500px;
  
}

.suvs {

  
  background-color: #026972;
  width: 500px;
}

.luxury {
  
  background-color: #02484e;
  width: 500px;

}*/

img{
  margin-top: 30px;
  margin-left: 40px;
  width: 20%;
  height: 2opx;
}

.sedans a{
  border-style: solid;
  background-color: white;
  padding: 12px 32px;
  margin-left: 40px;
  text-decoration: none;
  color:#e28528;
  font-weight: 700;
  font-size: 0.8em;
  border-color: white;
  border-radius: 50px;
  margin-bottom: 40PX;

}

.suvs a{
  border-style: solid;
  background-color: white;
  padding: 12px 32px;
  margin-left: 40px;
  text-decoration: none;
  color:#026972;
  font-weight: 700;
  font-size: 0.8em;
  border-color: white;
  border-radius: 50px;
  margin-bottom: 40PX;

}

.luxury a{
  border-style: solid;
  background-color: white;
  padding: 12px 32px;
  margin-left: 40px;
  text-decoration: none;
  color:#02484e;
  font-weight: 700;
  font-size: 0.8em;
  border-color: white;
  border-radius: 50px;
  margin-top: 16px;
  margin-bottom: 40PX;

}
 
a:hover
{
  background-color: transparent;
  color: white;
}

a{
  font-family: 'Lexend Deca';
}